<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438511184427-pkni9nq230greu3sg4085la9jcrjh4r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438511184427-pkni9nq230greu3sg4085la9jcrjh4r9</string>
	<key>API_KEY</key>
	<string>AIzaSyBM8_6SxEWBWMwjd8h4p36uWkLWg1fK_Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>438511184427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ourStory</string>
	<key>PROJECT_ID</key>
	<string>our-story-test-f302e</string>
	<key>STORAGE_BUCKET</key>
	<string>our-story-test-f302e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438511184427:ios:48589e68064fdbe84a586e</string>
</dict>
</plist>