<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614431980669-9pm2nshvc2l0nbdr4e2svtla397ennp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614431980669-9pm2nshvc2l0nbdr4e2svtla397ennp0</string>
	<key>API_KEY</key>
	<string>AIzaSyAUq-jcDPsz0YlFPn2S3oexzwYF2v-FHMc</string>
	<key>GCM_SENDER_ID</key>
	<string>614431980669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testFltterApp</string>
	<key>PROJECT_ID</key>
	<string>daichitest-88737</string>
	<key>STORAGE_BUCKET</key>
	<string>daichitest-88737.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614431980669:ios:cd3ce1f4714c6007c48514</string>
</dict>
</plist>